In [1]:
# import nltk
import numpy as np
import pandas as pd
# import regex as re
# import unicodedata

# from nltk.corpus import stopwords
# from unicodedata import normalize

from acquire import *
from prepare import *

# shhhhhhh
import warnings
warnings.filterwarnings("ignore")

Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

Lowercase everything
Normalize unicode characters
Replace anything that is not a letter, number, whitespace or a single quote.

In [2]:
test_string = "I'm really messy text WEll Now! I cOUld' be the MESSIEST@$@!?"

In [3]:
# def basic_clean(string):
#     '''
#     Takes in a String and does basic text cleaning of lowercasing, normalising unicode (using NFKD, ascii, and utf-8), and removes any item that isn't a letter, number, whitespace, or single quote.
#     Returns cleaned string.
#     '''
#     string = string.lower()
#     string = normalize('NFKD', string).encode('ascii', 'ignore').decode('utf-8') 
#     string = re.sub(r'[^a-z0-9\'\s]', '', string)
#     return string

In [4]:
clean_test_string = basic_clean(test_string)
clean_test_string

"i'm really messy text well now i could' be the messiest"

Define a function named tokenize. It should take in a string and tokenize all the words in the string.

In [5]:
# def tokenize(string):
#     '''
#     Takes in a String, tokenizes (seperates from punctuation) all the words in the string.
#     Returns Tokenized String.
#     '''
#     token = nltk.tokenize.ToktokTokenizer()
#     string = token.tokenize(string, return_str=True)
#     return string

In [6]:
token_test_string = tokenize(clean_test_string)
token_test_string

"i ' m really messy text well now i could ' be the messiest"

Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [7]:
# def stem(string):
#     '''
#     This function will accept a string and break it into individual text, then apply stemming (removes all but the root word [sometimes oddly]) to all the words, rejoin the text into a full string.
#     Returns the newly stemmed string.
#     [This is good for large file sizes, but accuracy is substantually lower, if you have less data to process or more processing power, consider using lemmatize() instead.]
#     '''
#     ps = nltk.PorterStemmer()
#     stems = [ps.stem(word) for word in string.split(' ')]
#     string = ' '.join(stems)
#     return string

In [8]:
stem_test_string = stem(token_test_string)
stem_test_string

"i ' m realli messi text well now i could ' be the messiest"

Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [9]:
# def lemmatize(string):
#     '''
#     FIRST TIME WILL REQUIRE INSTALL OF [ nltk.download('omw-1.4') ] AND [ nltk.download('wordnet') ] IT WILL GIVE YOU AN ERROR TELLING YOU TO INSTALL THEM OTHERWISE.
#     This function will accept a string and break it into individual text, then apply lemmatization (replaces a word with it's dictionary form [usually]) to all the words, and rejoin the text into a full string.
#     Returns the newly lemmatized string.
#     [This is good for smaller file sizes, it has a higher readibility accuracy, but does require more computation power, if you have a lot of data or limited processing power consider stem() instead.]
#     '''
#     wnl = nltk.stem.WordNetLemmatizer()
#     lemma_art = [wnl.lemmatize(word) for word in string.split(' ')]
#     string= ' '.join(lemma_art)
#     return string

In [10]:
lemma_test_string = lemmatize(token_test_string)
lemma_test_string

"i ' m really messy text well now i could ' be the messiest"

Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [11]:
# def remove_stopwords(string, extra_words = [], exclude_words= [], language = 'english'):
#     '''
#     FIRST TIME REQUIRES THE INSTALLATION OF [ nltk.download('stopwords') ] IF NOT INSTALLED IT WILL GIVE YOU AN ERROR SAYING TO INSTALL IT.
#     Takes in a string, as well as the option to add extra_words to the words that will be filtered out(stop words), and exclude_words to remove words from the filtered word list(stop words), Also added the ability to change the languge of the stop word list generated (default is english).
#     Returns the string with stop words filtered out.
#     '''
#     stopwords_list = stopwords.words(language)
#     if len(extra_words) > 0:
#         stopwords_list.append(extra_words)
#     if len(exclude_words) > 0:
#         stopwords_list.remove(exclude_words)
#     words = string.split(' ')
#     filtered_words = [word for word in words if word not in stopwords_list]
#     string = ' '.join(filtered_words)
#     return string

In [12]:
remove_stopwords(lemma_test_string, extra_words='\'')

'really messy text well could messiest'

Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

News Data Frame:

In [25]:
news_url = 'https://inshorts.com/en/read'

In [26]:
news_df = get_all_shorts(news_url)

<Response [200]>
cat articles length:  12
length of all_articles:  12
<Response [200]>
cat articles length:  25
length of all_articles:  37
<Response [200]>
cat articles length:  25
length of all_articles:  62
<Response [200]>
cat articles length:  25
length of all_articles:  87
<Response [200]>
cat articles length:  25
length of all_articles:  112
<Response [200]>
cat articles length:  25
length of all_articles:  137
<Response [200]>
cat articles length:  25
length of all_articles:  162
<Response [200]>
cat articles length:  25
length of all_articles:  187
<Response [200]>
cat articles length:  24
length of all_articles:  211
<Response [200]>
cat articles length:  25
length of all_articles:  236
<Response [200]>
cat articles length:  25
length of all_articles:  261
<Response [200]>
cat articles length:  24
length of all_articles:  285

In [27]:
news_df = pd.DataFrame(news_df)

In [16]:
news_df

,title,category,body
0,India's first Billiards Premier League,india,The Billiards and Snooker Association of Mahar...
1,"Indian Navy gets VLF, easy communication with ...",india,The Indian navy has a new communication system...
2,"Afghanistan wins SAFF title, spoils India's ha...",india,Afghanistan won their maiden-SAFF Football Cha...
3,Kashmir's famous Dal Lake freezes,india,After the recent snowfall in upper reaches of ...
4,"Samsung launches Galaxy Star 2 Plus at Rs.7,335",india,Samsung has unveiled the Galaxy start 2 Plus s...
...,...,...,...
280,Tesla to remove more sensors from cars amid au...,automobile,"As Tesla faces autopilot scrutiny, it will onl..."
281,Fix for wheel issue that caused electric car r...,automobile,Toyota Motor said it has found a fix for the d...
282,Vehicle registrations during festivals doubled...,automobile,Vehicle registrations more than doubled in thi...
283,Car rental startup Zoomcar may go public via S...,automobile,Bengaluru-based car rental startup Zoomcar has...
284,Passenger vehicle wholesales rise by 92% in Se...,automobile,Passenger vehicle wholesales in India surged b...

---
codeup blogs:

In [28]:
blog_url = 'https://codeup.com/blog/'

In [29]:
codeup_df = pd.DataFrame(get_blog_content(blog_url))
codeup_df

,title,content
0,Coding Bootcamp or Computer Science Degree?,"For many people, deciding between a coding boo..."
1,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...
2,Codeup Honored as SABJ Diversity and Inclusion...,Codeup has been named the 2022 Diversity and I...
3,How Can I Finance My Career Transition?,Deciding to transition into a tech career is a...
4,Tips for Women Beginning a Career in Tech,"Codeup strongly values diversity, and inclusio..."
5,What is Cloud Computing and AWS?,With many companies switching to cloud service...

-----

For each dataframe, produce the following columns:

- title to hold the title
- original to hold the original article/post content
- clean to hold the normalized and tokenized original with the stopwords removed.
- stemmed to hold the stemmed version of the cleaned data.
- lemmatized to hold the lemmatized version of the cleaned data.

In [30]:
# News:
news_df.head()
del news_df['category']
news_df.head(1)

,title,body
0,"Afghanistan wins SAFF title, spoils India's ha...",Afghanistan won their maiden-SAFF Football Cha...
1,"Nigerian weightlifter in dope net, India may gain",India may move up after Nigerian weightlifter ...
2,India beat NZ 3-2 to enter CWG hockey finals,In the CWG men's hockey semi-final against New...
3,India's first Billiards Premier League,The Billiards and Snooker Association of Mahar...
4,Infosys Gifts Sikka Shares Worth Rs 8.2cr,"In a regulatory filing to the BSE on Friday, I..."

In [31]:
news_df = news_df.rename(columns={"body": "original"})
news_df.head(1)

,title,body
0,"Afghanistan wins SAFF title, spoils India's ha...",Afghanistan won their maiden-SAFF Football Cha...
1,"Nigerian weightlifter in dope net, India may gain",India may move up after Nigerian weightlifter ...
2,India beat NZ 3-2 to enter CWG hockey finals,In the CWG men's hockey semi-final against New...
3,India's first Billiards Premier League,The Billiards and Snooker Association of Mahar...
4,Infosys Gifts Sikka Shares Worth Rs 8.2cr,"In a regulatory filing to the BSE on Friday, I..."

In [63]:
for r in news_df.index:
    news_df.loc[r, "clean"] = remove_stopwords(tokenize(basic_clean(news_df.loc[r, 'original'])), extra_words='\'')

In [65]:
news_df.head(2)

,title,body,clean
0,"Afghanistan wins SAFF title, spoils India's ha...",Afghanistan won their maiden-SAFF Football Cha...,afghanistan maidensaff football championship d...
1,"Nigerian weightlifter in dope net, India may gain",India may move up after Nigerian weightlifter ...,india may move nigerian weightlifter chika ama...

In [66]:
for r in news_df.index:
    news_df.loc[r, "stemmed"] = stem(news_df.loc[r, 'clean'])

In [67]:
news_df.head(2)

,title,body,clean,stemmed
0,"Afghanistan wins SAFF title, spoils India's ha...",Afghanistan won their maiden-SAFF Football Cha...,afghanistan maidensaff football championship d...,afghanistan maidensaff footbal championship de...
1,"Nigerian weightlifter in dope net, India may gain",India may move up after Nigerian weightlifter ...,india may move nigerian weightlifter chika ama...,india may move nigerian weightlift chika amala...

In [68]:
for r in news_df.index:
    news_df.loc[r, "lemmatized"] = lemmatize(news_df.loc[r, 'clean'])

In [69]:
news_df.head()

,title,body,clean,stemmed,lemmatized
0,"Afghanistan wins SAFF title, spoils India's ha...",Afghanistan won their maiden-SAFF Football Cha...,afghanistan maidensaff football championship d...,afghanistan maidensaff footbal championship de...,afghanistan maidensaff football championship d...
1,"Nigerian weightlifter in dope net, India may gain",India may move up after Nigerian weightlifter ...,india may move nigerian weightlifter chika ama...,india may move nigerian weightlift chika amala...,india may move nigerian weightlifter chika ama...
2,India beat NZ 3-2 to enter CWG hockey finals,In the CWG men's hockey semi-final against New...,cwg men hockey semifinal new zealand saturday ...,cwg men hockey semifin new zealand saturday in...,cwg men hockey semifinal new zealand saturday ...
3,India's first Billiards Premier League,The Billiards and Snooker Association of Mahar...,billiards snooker association maharashtrabsam ...,billiard snooker associ maharashtrabsam decid ...,billiards snooker association maharashtrabsam ...
4,Infosys Gifts Sikka Shares Worth Rs 8.2cr,"In a regulatory filing to the BSE on Friday, I...",regulatory filing bse friday infosys ltd decid...,regulatori file bse friday infosi ltd decid gi...,regulatory filing bse friday infosys ltd decid...

For each dataframe, produce the following columns:

- title to hold the title
- original to hold the original article/post content
- clean to hold the normalized and tokenized original with the stopwords removed.
- stemmed to hold the stemmed version of the cleaned data.
- lemmatized to hold the lemmatized version of the cleaned data.

In [73]:
# Blog Dataframes:
codeup_df.head(1)
codeup_df = codeup_df.rename(columns={"content": "original"})
codeup_df.head()

,title,original
0,Coding Bootcamp or Computer Science Degree?,"For many people, deciding between a coding boo..."
1,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...
2,Codeup Honored as SABJ Diversity and Inclusion...,Codeup has been named the 2022 Diversity and I...
3,How Can I Finance My Career Transition?,Deciding to transition into a tech career is a...
4,Tips for Women Beginning a Career in Tech,"Codeup strongly values diversity, and inclusio..."

In [74]:
for r in codeup_df.index:
    codeup_df.loc[r, "clean"] = remove_stopwords(tokenize(basic_clean(codeup_df.loc[r, 'original'])), extra_words='\'')

codeup_df.head(2)

,title,original,clean
0,Coding Bootcamp or Computer Science Degree?,"For many people, deciding between a coding boo...",many people deciding coding bootcamp computer ...
1,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...,codeup excited launch first diversity equity i...

In [75]:
for r in codeup_df.index:
    codeup_df.loc[r, "stemmed"] = stem(codeup_df.loc[r, 'clean'])

codeup_df.head(2)

,title,original,clean,stemmed
0,Coding Bootcamp or Computer Science Degree?,"For many people, deciding between a coding boo...",many people deciding coding bootcamp computer ...,mani peopl decid code bootcamp comput scienc d...
1,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...,codeup excited launch first diversity equity i...,codeup excit launch first divers equiti inclus...

In [78]:
for r in codeup_df.index:
    codeup_df.loc[r, "lemmatized"] = lemmatize(codeup_df.loc[r, 'clean'])

codeup_df.head(2)

,title,original,clean,stemmed,lemmatized
0,Coding Bootcamp or Computer Science Degree?,"For many people, deciding between a coding boo...",many people deciding coding bootcamp computer ...,mani peopl decid code bootcamp comput scienc d...,many people deciding coding bootcamp computer ...
1,Diversity Equity and Inclusion Report,Codeup is excited to launch our first Diversit...,codeup excited launch first diversity equity i...,codeup excit launch first divers equiti inclus...,codeup excited launch first diversity equity i...

In [82]:
lemmatize("Testing if this is even running through any sort of word hunt in an orderly fashion or if it's just fashioning words it feels like, aka: keeping them all.")

"Testing if this is even running through any sort of word hunt in an orderly fashion or if it's just fashioning word it feel like, aka: keeping them all."

Ask yourself:

- If your corpus is 493KB, would you prefer to use stemmed or lemmatized text? 
    >For Smaller Data I'd prefer Lemmatizing, it actually creates real words even if it doesn't completely root word them.
- If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
    >This is still a bit of a smaller data, so I'd still stay with Lemmatizing it.
- If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?
    > Since this is a larger data chunk, and we have limited computational resources, using stemmed would make more sense logistically, even though it doesn't create as normal/readable words as lemmatizing does.